body{

/*	background-color: black;
*/
}
#enterbody {
	padding-top: 5%;
	text-align: center;
	color: black;
}

#instructions{
	padding-top: 5%;
	text-align: center;
	color: black;
}


#one{
	display: block;
	margin-left: auto;
    margin-right: auto
}
